<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Modern Business - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/modern-business.css') }}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">College Girls Who Code</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Q&A</a>
          </li>
          <li class="nav-item dropdown">
            <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Portfolio
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="portfolio-1-col.html">1 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-2-col.html">2 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-3-col.html">3 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-4-col.html">4 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-item.html">Single Portfolio Item</a>
            </div>
          </li> -->
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Settings
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <a class="dropdown-item" href="blog-home-1.html">My Profile</a>
              <a class="dropdown-item" href="blog-home-2.html">My Posts</a>
              <a class="dropdown-item active" href="blog-post.html">Privacy</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Others
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <a class="dropdown-item" href="full-width.html">Contact</a>
              <!-- <a class="dropdown-item" href="sidebar.html">Sidebar Page</a> -->
              <a class="dropdown-item" href="faq.html">FAQ</a>
              <a class="dropdown-item" href="404.html">Report Bugs</a>
              <a class="dropdown-item" href="pricing.html">Log Out</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3"> A day in the Life @ VMWare
      <small> - 
        <a href="#">Christina Johnson</a>
      </small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">Nina's Blog</li>
    </ol>

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="http://www.trailblazermagazine.net/wp-content/uploads/2018/08/TechTopics-1170x530.jpg" alt="">

        <hr>

        <!-- Date/Time -->
        <p>Posted on January 1, 2017 at 12:00 PM</p>

        <hr>

        <!-- Post Content -->
        <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?</p> -->

        <p>VMware is the global leader in virtualization solutions from the desktop to the datacenter.

          The company employs more than 22,000 people in 40 locations around the world, with VMware’s Irish office based in Ballincollig, Co. Cork,
          
          The company currently has a number of jobs available so we spoke to Sien Legouit who told us how the team at VMware work in an energetic environment based on creativity and collaboration.</p>

        <hr>

        <blockquote class="blockquote">
          <p class="mb-0">What do you do?</p>
          <!-- <footer class="blockquote-footer">Someone famous in -->
            <!-- <cite title="Source Title">Source Title</cite> -->
          </footer>
        </blockquote>

        <p>As an Inside Sales Representative (ISR) I am primarily responsible for developing and driving business within the northern region of the Dutch market. From prospecting to closing deals leveraging the expertise of our Channel partners and the virtual team within VMware.</p>

        <hr>

        <blockquote class="blockquote">
          <p class="mb-0">How did you get your job? </p>
          </footer>
        </blockquote>

        <p>I started my career in IT at Techdata, a distributor as an Inside Sales Executive, selling Dell Enterprise products. I had the opportunity to develop my knowledge about datacentre solutions and doing business with channel partners which helps me a lot in my current role.</p>
       
        <hr>

        <blockquote class="blockquote">
          <p class="mb-0">What’s the best thing about your job?</p>
          </footer>
        </blockquote>

        <p>I get to speak to a lot of customers, some of them well-known companies in Holland, it’s great to hear and speak to them about solutions and share with them how VMware potentially could help them accelerate a business strategy. I am a saleswoman by heart, so closing complex deals with customers is something that really motivates me.</p>
        <img class="img-fluid rounded" src="https://www.jobs.ie/job-talk/wp-content/uploads/VMware-header.jpg" alt="">


        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form>
              <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

        <!-- Single Comment -->
        <div class="media mb-3">
          <img class="d-flex mr-3 rounded-circle" style="height:60px;width:60px;" src="{{ url_for('static', filename='img/user7-128x128.jpg') }}" alt="">
          <div class="media-body">
            <h5 class="mt-0">Terial Bellare</h5>
            Awesome! Hope I could get an offer this fall!
          </div>
        </div>

        <!-- Comment with nested comments -->
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" style="height:60px;width:60px;" src="{{ url_for('static', filename='img/user3-128x128.jpg') }}" alt="">
          <div class="media-body">
            <h5 class="mt-0">Jennifer Lambert</h5>
            What advice would you give somebody applying for a job with VMware?

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" style="height:60px;width:60px;" src="{{ url_for('static', filename='img/user5-128x128.jpg') }}" alt="">
              <div class="media-body">
                <h5 class="mt-0">Christina Johnson</h5>
                Go for it, VMware is one of the most cutting-edge IT companies in the world. I never do “cold calling” because customers already know VMware and the quality of the products, personally I cannot understand why anyone would not work for VMware!
              </div>
            </div>

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" style="height:60px;width:60px;" src="{{ url_for('static', filename='img/user3-128x128.jpg') }}" alt="">
              <div class="media-body">
                <h5 class="mt-0">Jennifer Lambert</h5>
                That's cool! thanks again!
              </div>
            </div>

          </div>
        </div>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card mb-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Web Design</a>
                  </li>
                  <li>
                    <a href="#">HTML</a>
                  </li>
                  <li>
                    <a href="#">Job Searching</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Internship</a>
                  </li>
                  <li>
                    <a href="#">Online Learning</a>
                  </li>
                  <li>
                    <a href="#">Tutorials</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">My Album</h5>
          <div class="card-body">
            <!-- You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers! -->
            <img class="img-fluid rounded" src="https://www.jobs.ie/job-talk/wp-content/uploads/VMware-blog-300x-300.jpg" alt="">
            <!-- <img class="img-fluid rounded" src="https://media.glassdoor.com/l/da/05/ff/9a/vmware-kalyani-vista-building.jpg" alt=""> -->
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">VMWare CodeHouse &copy; 2019 All Rights Reserved</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

</body>

</html>
