<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Modern Business - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/modern-business.css') }}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">Start Bootstrap</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Portfolio
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="portfolio-1-col.html">1 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-2-col.html">2 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-3-col.html">3 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-4-col.html">4 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-item.html">Single Portfolio Item</a>
            </div>
          </li>
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Blog
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <a class="dropdown-item" href="blog-home-1.html">Blog Home 1</a>
              <a class="dropdown-item" href="blog-home-2.html">Blog Home 2</a>
              <a class="dropdown-item active" href="blog-post.html">Blog Post</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Other Pages
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <a class="dropdown-item" href="full-width.html">Full Width Page</a>
              <a class="dropdown-item" href="sidebar.html">Sidebar Page</a>
              <a class="dropdown-item" href="faq.html">FAQ</a>
              <a class="dropdown-item" href="404.html">404</a>
              <a class="dropdown-item" href="pricing.html">Pricing Table</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Question: {{this_question_info.question[0].q_string}}
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">This Post</li>
    </ol>
  
    <img class="img-fluid rounded" src="https://viterbicareers.usc.edu/wp-content/uploads/2018/04/00_VMwareVM%EC%9B%A8%EC%96%B4_%ED%8F%AC%ED%8A%B8%ED%8F%AC%EC%9B%8C%EB%94%A9_%EC%84%A4%EC%A0%95port_forwarding.png" alt="">
    
    <div class="row">
      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Date/Time -->
        <p>Posted on {{this_question_info.question[0].q_created_at}},
        Posted by {{this_question_info.question[0].q_user}} </p>
        <hr>

        <!-- Post Content -->
        <p class="lead"></p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
                Tags:
                {% for tag in this_question_info.question[0].q_tags %}
                {{tag}}
                {% endfor %}
          </footer>
          <footer class="blockquote-footer">
          Description: {{this_question_info.question[0].q_description}}
        </footer>
        </blockquote>
        <p>
            {% for ans in this_question_info.answers %}
                <blockquote class="blockquote">
                        <p class="mb-0">
                              <!-- Answer - {{loop.index}}</br> -->

                              <!-- Single Comment -->
                              <div class="media mb-3">
                                  <img class="d-flex mr-3 rounded-circle" style="height:60px;width:60px;" src="{{ url_for('static', filename='img/user7-128x128.jpg') }}" alt="">
                                  <div class="media-body">
                                    <h5 class="mt-0">{{ans.a_user}}</h5>
                                    {{ans.a_string}}
                                  </div>
                                </div>

                              
                        </p>
                        <footer class="blockquote-footer">
                                Posted on {{ans.a_created_at}}</br>
                        </footer>
                      </blockquote>

            {% endfor %}

        </p>

        <hr>


    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

</body>

</html>