<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Modern Business - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/modern-business.css') }}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">Start Bootstrap</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Portfolio
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="portfolio-1-col.html">1 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-2-col.html">2 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-3-col.html">3 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-4-col.html">4 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-item.html">Single Portfolio Item</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Blog
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <a class="dropdown-item" href="blog-home-1.html">Blog Home 1</a>
              <a class="dropdown-item" href="blog-home-2.html">Blog Home 2</a>
              <a class="dropdown-item" href="blog-post.html">Blog Post</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Other Pages
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <a class="dropdown-item" href="full-width.html">Full Width Page</a>
              <a class="dropdown-item" href="sidebar.html">Sidebar Page</a>
              <a class="dropdown-item" href="faq.html">FAQ</a>
              <a class="dropdown-item" href="404.html">404</a>
              <a class="dropdown-item" href="pricing.html">Pricing Table</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('https://presspage-production-content.s3.amazonaws.com/uploads/1441/tumblr-nsd90pavvx1traalfo1-1280.jpg?10000')">
          <div class="carousel-caption d-none d-md-block">
            <h3>First Slide</h3>
            <p>This is a description for the first slide.</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('https://crosstalk.cell.com/hs-fs/hubfs/Images/Sheila%20Chari/7%20strategies%20from%20the%20NYSCF%20for%20advancing%20women%20in%20STEM/women-stem-featured.jpg?width=1000&name=women-stem-featured.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Second Slide</h3>
            <p>This is a description for the second slide.</p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('https://www.energy.gov/sites/prod/files/styles/borealis_article_hero_respondmedium/public/womens-day-banner-v2-title-brand.jpg.jpeg?itok=E5PMWE6j')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Third Slide</h3>
            <p>This is a description for the third slide.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">
	  <p></p><p></p>
  	<div class="input-group margin">
  		<input id="search_input" type="text" class="form-control">
  		<span class="input-group-btn">
  			<button id="search_btn" type="button" class="btn btn-primary">Search Questions</button>
  		</span>
  	</div>

    <h1 class="my-4">Woman in STEM</h1>

    <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Trending Topics</h4>
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Recommend Topics</h4>
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    <!-- /.row -->

    <!-- Features Section -->
    <div class="row">
      <div class="col-lg-6">
        <h2>Videos on Women in STEM</h2>
        <p>This is for women in STEM videos:</p>
        <ul>
          <li>
            <strong>What is a typic day of software engineers</strong>
          </li>
          <li>How to balance between career and family</li>
          <li>Topics 1</li>
          <li>Topics 2</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
      </div>
      <div class="col-lg-6">
        <iframe src="https://www.youtube.com/embed/BIvezCVcsYs" width="600" height="400" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <!-- /.row -->

    <hr>
	

	<!-- Button trigger modal -->
	

    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p> Do not have your question? Please Ask now! </p>
      </div>
      <div class="col-md-4">
	  	<button type="button" class="btn btn-primary btn-lg " data-toggle="modal" data-target="#exampleModalLong" style="width:100%">
	  	  Post a question
	  	</button>
      </div>
    </div>
	
	
	<!-- Modal -->
	<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLongTitle">Post a question</h5>
	      </div>
	      <div class="modal-body">
	        <div class="box-body">
	          <form action="#" method="post">
	            <div class="form-group">
	              <input id="question_name" class="form-control" style="width: 100%" placeholder="Please fill out title">
	            </div>
				<p></p>
				<div class="form-group">
					<select id="question_tag" class="selectpicker" style="width: 100%; height: 30px;">
					    <option value="1">Tag1</option>
					    <option value="2">Tag2</option>
					    <option value="3">Tag3</option>
					    <option value="4">Tag4</option>
					    <option value="5">Tag5</option>   
						<option value="6">Tag6</option>         
					</select>
				</div>
	            <div>
	              <textarea id="question_description" class="textarea" placeholder="Please add description"
	                        style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
	            </div>
	        	<button type="button" class="btn btn-secondary" data-dismiss="modal" style="width:100px"> Cancel </button>
	        	<button id="post" type="button" class="btn btn-primary" style="float:right; width:100px;"> Post </button>
	          </form>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>

  </div>
  <!-- /.container -->

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script>
	  document.getElementById('search_btn').addEventListener('click', function(e) {
		  var input = document.getElementById('search_input').value;
		  $.ajax({
			  type:"POST",
			  url: 'admin/search_question/' + input,
			  complete: function(data) {
				  alert(input);
			  }
		  });
	  })
	  
	  document.getElementById('post').addEventListener('click', function(e){
	  	var name = document.getElementById('question_name').value;
	  	var tag = document.getElementById('question_tag').value;
	  	var description = document.getElementById('question_description').value;
	  	var json = parseJson(name, tag, description);
	  	$.ajax({
	  	        type: "POST",
	  	        url: 'admin/post_question/' + json,
	  	        complete : function(data) {
					alert(json);
	  			}
	  	    });
	  })

	  function parseJson(name, tag, description) {
	  	var json = {};
	  	json['name'] = name;
	  	json['tag'] = tag;
	  	json['description'] = description;
	  	return JSON.stringify(json);
	  }
	  
  </script>

</body>

</html>
